body{
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    display: block;
    margin: auto;
    text-align: center;
}

img{
    width: 500px;
    border-radius: 30px;
}

h1{
    margin-bottom: 40px;
}

.button{
    background: linear-gradient(0deg, rgb(252,96,118) 0%, rgb(255,154,68) 100%);
    border-radius: 20px;
    box-shadow: 0px 13px 18px #b003034c, 0px 5px 0px #c35363;
    height: 18px;
    min-width: 80px;
    margin: 40px;
    padding: 22px 37px;
}
.flex{
    display: flex;
    justify-content: center;
}

.button-text{
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.button-text a{;
    text-decoration: none;
    color: white;
}

.img-index{
    width: 300px;
}